/* 
    Document   : soccr
    Created on : 18.10.2010, 21:59:44
    Author     : Stevie
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.soccr_match_widget {
    border: 1px solid red;
    margin-right: auto;
    margin-left: auto;
}
.soccr_match_widget td, th {
    border: none;
}

